@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.title {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  letter-spacing: 0.1em;
}

.navbar {
  background: #A799B7;
  text-align: center !important;
  color: white;
}

.navbar-brand {
  color: #fff;
  cursor: pointer;
  font-family: 'Ephesis', cursive;
  margin-left: 2%;
}

.main {
  margin-top: 5% !important;
  font-family: 'Nanum Myeongjo', serif;
  font-size: large;
}

input[type=range]::-webkit-slider-thumb {
  background: #93B7BE;
}

input[type=range]::-moz-range-thumb {
  background: #93B7BE;
}

input[type=range]::-ms-thumb {
  background: #93B7BE;
}

.analyzeSentence, .heading {
  background-color: #93B7BE !important;
  border-color: #93B7BE !important;
}

.analyzeSentence {
  margin-top: 1%;
}

.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}

.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

.displaySentence {
  font-size: 155%;
  margin: 1%;
}

.displayLength {
  font-size: 140%;
  margin: 1%;
}

.openSentence:hover {
  cursor: pointer;
  outline: 0;
}

.hideItems {
  display: none;
}

.hideItems2 {
  display: none;
}

mark, .highlightCharLimit {
  background-color: #f2dfd7 !important;
  color: black;
}

mark2, .highlightLongWord {
  background-color: #d4c1ec !important;
  color: black;
}

.openSentence {
  color: #9d83b9;
  text-decoration: underline;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.green {
  background-color: rgb(189, 255, 127);
}

.orange {
  background-color: orange;
}