@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');


/* .title {
  font-family: 'Fredoka', sans-serif;

} */

.main {
  margin-top: 5% !important;
  /* font-family: 'Fredoka', sans-serif; */
  font-size: large;
}

.analyzeSentence {
  margin-top: 1%;
}

.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}

.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

.displaySentence {
  font-size: 155%;
  margin: 1%;
}

.displayLength {
  font-size: 140%;
  margin: 1%;
}

.openSentence:hover {
  cursor: pointer;
  outline: 0;
}

.hideItems {
  display: none;
}

.hideItems2 {
  display: none;
}

mark {
  background-color: rgb(255, 253, 127) !important;
  color: black;
}

mark2 {
  background-color: rgb(189, 255, 127) !important;
  color: black;
}

.openSentence {
  color: #AA7DCE;
  text-decoration: underline;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}